{% extends 'layout.html' %}
{% block body_content %}
    <p>Have an account? Sign in</p>
    <div class='form'>
        <form method='POST' action=''>
            {{ form.hidden_tag() }}
            <div class='form_group'>
                {{ form.username.label }}
                {{ form.username }}
                {% if form.username.errors %}
                    <div class='error'>
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <br>
            <div class='form_group'>
            {{ form.password.label }}
            {{ form.password }}
            {% if form.password.errors %}
                <div class='error'>
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            </div>
            <div class="form_group">
            	{{ form.remember.label }}
            	{{ form.remember }}
            </div>
	    <br>
            <div class='form_group'>
                {{ form.submit }}
            </div>
        </form>
	<a href="{{ url_for('register') }}">Don't have an account? Click here to sign up!</a>
    </div>
{% endblock %}
